<template name="appeal">
	{{#with appeal}}
	<div id="appeal" class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<h2>
								{{title}}
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							{{#if company}}
								<i class="fa fa-building fa-fw"></i> {{company}}
							{{/if}}
						</div>
						<div class="col-sm-3">
							{{#if location}}
								<i class="fa fa-map-marker"></i> {{location}}
							{{/if}}
						</div>
						<div class="col-sm-6 appeal-url">
							{{#if url}}
								<i class="fa fa-external-link fa-m"></i>&nbsp;&nbsp;<a href="{{url}}" target="_blank">{{cutString url 50}}</a>
							{{/if}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							{{>jobLabels}}
							{{#if hasLabel}}
								<hr>
							{{/if}}
							{{#if contact}}
								<i class="fa fa-envelope fa-fw"></i> {{contact}}
								<hr>
							{{/if}}
							<i class="fa fa-calendar fa-fw"></i> Posted on {{formatDate createdAt}}
							{{#if featured}}
							<hr>
							<i class="fa fa-trophy fa-fw"></i> Featured Until {{formatDate featuredThrough}}
							{{/if}}
						</div>
						<div class="col-sm-9">
							{{#if htmlDescription}}
								{{{htmlDescription}}}
							{{/if}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							{{#if $eq userId $.Meteor.userId}}

									<div class="pull-right">
										&nbsp;
										<a href="/helpme/{{_id}}/edit" class="btn btn-primary"><i class="fa fa-pencil"></i> 编辑</a>
									</div>

							{{/if}}
						</div>
					</div>
				</div>


			</div>
			<div class="row">
				<div id="help" class="col-md-10 col-md-offset-1">
					{{> help}}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="container">
	          <div class="row">
	              <div class="col-lg-12 text-center">
	                  <h2 class="section-heading">帮助他的人</h2>
	              </div>
	          </div>
	          <div class="row">
	            <!-- {{#each helpers}}
	              {{> helperItem}}
	            {{/each}} -->
							<div class="col-sm-4">
						      <div class="team-member">
						          <img src="/images/avatar.png" class="img-responsive img-circle" alt="">
						          <h4>李小小2（北京）</h4>
						      </div>
						  </div>
							<div class="col-sm-4">
						      <div class="team-member">
						          <img src="/images/avatar.png" class="img-responsive img-circle" alt="">
						          <h4>李小小2（北京）</h4>
						      </div>
						  </div>
	          </div>
	      </div>
			</div>
			<hr>
		</div>
	</div>
	{{/with}}
</template>

<template name="jobLabels">
    {{#if featured}}<span class="label label-primary"><i class="fa fa-trophy"></i> Featured</span>{{/if}}
    {{#if remote}}<span class="label label-success"><i class="fa fa-globe"></i> Remote</span>{{/if}}
    {{#if jobtype}}<span class="label label-default"><i class="fa fa-clock-o"></i> {{jobtype}}</span>{{/if}}
</template>

<template name="help">
	{{#autoForm id="helps" collection="Helps"  type="insert"}}
		{{> afQuickField name="description" placeholder="填写您可以帮助信息"}}
		<div class="form-group">
			<button type="submit" class="btn btn-primary">提交</button>
		</div>
	{{/autoForm}}
</template>
