<template name="helpItem">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-3">
        <img src="/images/avatar.png" class="img-responsive img-circle" alt="">
        <a href="/profile/{{helperId}}">
          <h4>{{helperName}}（{{helperLocation}}）</h4>
        </a>
      </div>
      <div class="col-md-7">{{description}}</div>
      <div class="col-md-2 help-btn">
        <button class="btn btn-info">接受</button>
        <button class="btn btn-danger">拒绝</button>
      </div>
    </div>
  </div>
</template>
