.content-wrapper {
  min-height: 500px;
  padding-top: 70px;
}

.dropdown-menu {
  li {
    a {
      color: #000 !important;
    }
  }
}

.panel-default {
  border-color: #dddddd;
}

#profile {
  margin: 0 54px;
  padding: 15px;
}

#appeal {
  margin: 0 54px;
  padding: 15px;
}
