<template name="header">
  <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">森 林 天 使</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/helpMe">求帮助</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/helper">帮助者</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/postForHelp">发布求助</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/becomeHelper">成为帮助者</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {{#if currentUser}}
                	  {{>headerUserMenu}}
                  {{else}}
                    <li ><a href="/sign-in">登录</a></li>
                    <li ><a href="/sign-up">注册</a></li>
                  {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</template>


<template name="headerUserMenu">
    <li id="user-drop-down" class="dropdown">
      <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#">
  			<!-- {{> avatar user=currentUser size="small"}} -->
        {{currentUserDisplayName}}<span class="caret"></span>
  		</a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="/MyHelp"><i class="fa fa-building fa-fw"></i> 我的求助</a>
            </li>
            <li class="divider"></li>
            {{#if isInRole 'admin'}}
                <li><a href="/admin"><i class="fa fa-cogs fa-fw"></i> Admin</a></li>
                <li class="divider"></li>
            {{/if}}

            <li>
                <a href="/profileNew"><i class="fa fa-rocket fa-fw"></i> 帮助者信息</a>
            </li>
            <li>
                <a href="#" id="userProfile"><i class="fa fa-user fa-fw"></i> 个人信息</a>
            </li>
            <li class="divider"></li>
            <li><a href="/logout" id="signOut"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a></li>
        </ul>
    </li>
</template>
